*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
  display: flex;
  height: 66px;
  /* background: gray; */
  padding: 20px 30px;
  /* box-shadow: 10px 10px lightgray; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.logo{
  /* padding-left: 15px; */
  object-fit: cover;
  max-width: 100px;
}

.main{
  /* background-color: #0a0a23; */
  text-align: center;
  margin: 20px 0;

}

.main_image{
  width: 150vh;
  height: 500px;
}

.main--header , .main--text{
  text-align: left;
  padding: 5px 50px;
  /* padding-left: 50px;
  padding-top: 5px; */
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  padding-left: 50px;
  position: relative;
}

.card--image {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures image resizes to fit the box while maintaining aspect ratio */
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
}


.card--badge {
  position: absolute;
  top: 6px;
  left: 56px; /* Adjust left to account for image padding (50px padding + 6px space) */
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  z-index: 1;
  box-sizing: border-box;
  max-width: 70px;
  text-align: center;
  white-space: nowrap;
}